
.pic
{
  position: relative;
  padding: 0px;
  right: auto;
}

.pick
{
 position: absolute;
 right: 50%;
 left: 50%;
 top: 50%;
 bottom: 50%;


}

.pic:hover
{
color: white;
background-color: silver;
}
